import React from 'react';
import <%= class_name %>Form from '../../components/<%= class_name %>/Form'

function <%= class_name %>(props) {
  return (
    <>
      <h1>Edit <%= display_name %></h1>
      <<%= class_name %>Form {...props} />
    </>
  )
}

export default <%= class_name %>