import React from 'react';

import <%= class_name %>Form from '../../components/<%= class_name %>/Form';

const <%= class_name %>New = () => (
  <>
    <h1>New <%= class_name %></h1>
    <<%= class_name %>Form />
  </>
);

export default <%= class_name %>New;
