"jennifer_sqlite3_adapter"    # https://imdrasil.github.io/jennifer.cr/docs/getting_started if you would like to change the adapter

# If you change to pg or mysql, uncomment the line below and comment out the Jennifer::Config block
# Jennifer::Config.read("./database.yml", Amber.env.to_s) # Prefer the yml if you use the pg or mysql adpater
Jennifer::Config.configure do |conf|
  conf.adapter = "sqlite3"
  conf.host = "."
  # TODO: Name of applicaion
  conf.db = "name_development.db"
end 
