# About logger.cr File
#
# Launch is using the crystal standard library Log
# You can read details here: https://crystal-lang.org/api/0.35.0/Log.html

backend = Log::IOBackend.new(STDOUT)
backend.formatter = Launch::Logger::Formatter.proc
Log.dexter.configure(Launch.settings.logging.severity, backend)
