{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "css-modules-transform",
      {
        "extensions": [
          ".css",
          ".scss"
        ]
      }
    ],
    [
      "file-loader",
      {
        "name": "[name].[ext]",
        "extensions": [
          "png",
          "jpg",
          "jpeg",
          "gif",
          "svg"
        ],
        "publicPath": "/dist",
        "outputPath": "../../public/dist",
        "context": "",
        "limit": 0
      }
    ]
  ]
}