class <%= class_name %> < ApplicationRecord
  with_timestamps
  mapping(
    id: Primary32
<% @fields.reject{|f| f.hidden || f.reference? }.each do |field| -%>
    <%= field.name %>: { <%= field.cr_type %>? }
<% end -%>
    # TODO:
    # created_at: Time?,
    # updated_at: Time?
  )
  
<% @fields.select{|f| f.reference? }.each do |field| %>
  belongs_to :<%= field.name %>
<% end -%>
end
