class <%= class_name %> < Jennifer::Migration::Base
  def up
    create_table(:<%= name_plural %>) do |t|
      t.integer :id
      <%= create_table_fields %>
    end
  end

  def down
    drop_table(:<%= name_plural %>)
  end
end